/* PC  */
@media (max-width: 1024px){
    
}

/* Tablet  */
@media (min-width:740px) and (max-width: 1023px){
    
}
/* Didong  */
@media (max-width: 740px){
    .s-col-ful{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }
    #nav{
        display: block;
    }
    #nav >li{
        display: block;
    }
    #nav >li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    #header{
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }
    #header .menu-mobile-btn{
        display: block;
    }
    
    .member-list .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 16px;
    }
    .btn{
        width: 100%;
    }
}